<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head th:replace="layouts/base-layout::head"></head>
    <body>
        <nav>
            <div>
                <ul>
                    <li>
                        <a th:href="@{/auth/login}">Login</a>
                    </li>
                    <li>
                        <a th:href="@{/auth/registro}">Registro</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
